body{
    margin:0;
    padding:0;
    font-family:monospace;
    background-color:rgb(43, 42, 42);
    color:white;
    height: 100vh;
    overflow:hidden;
    
}

.jumbotron{
    margin:50px 0;
    border-radius: 30px;
    height: 500px;
    background-color:transparent;
    border:1px solid white;
    box-shadow:0 15px 20px rgba(0, 0, 0, 0.3);
}

p{
    font-size:50px;
    width:30px;
    margin:0 auto;
}

h3, h4{
    color:#b9b8b8;
    text-shadow:2px 0.5px 1px white;
}
.btn{
    border: none;
    transition-duration: 1s;
    background-color:grey;
    color:white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.btn:hover{
    background-color:rgb(233, 229, 229);
    transition-duration: 1.5s;
    color:rgb(85, 81, 81);

}
.button-class{
    margin:0px;
    display:flex;
    justify-content:space-around ;
    justify-items: center;
}
.btn-default{
    padding:10px;
    font-size:2em;
    width:120px;
}


input[type='text']{
    padding:30px;
    background-color:yellow;
    margin-top:20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.submit-button{
    width:100%;
    margin-top:30px;
    font-size:40px;
}
#displayResult {
    font-size:30px;
}